* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}


#content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CONTENITORE GENERALE DELLA CALCOLATRICE */
#calculator {
    background-image: linear-gradient(to right, rgb(212, 212, 212) , rgb(236, 233, 233));;
    width: 20%;
    border-radius: 10px;
}

/* PRIMA SEZIONE CON NOME */

#calc_name {
    font-size: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 90px;
    font-family: "Michroma", sans-serif;
    font-weight: bold;
}

/* SEZIONE NUMERO DIGITATO */

#number {
    color: rgb(22, 187, 151);
    background-color: black;
    font-family: 'Seven Segment', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    font-size: 50px;
    padding: 20px;
}

/* SEZIONE PAD NUMERICO */

#pad {
    display: flex;
    justify-content:space-between;
    padding: 25px;
}

/* CONTENITORE A SINISTRA */

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    gap: 10px;
    padding-top: 10px;

}

li {
    padding: 15px 25px;
    background-color: rgb(207, 206, 206);
    border: 2px solid rgba(82, 79, 79, 0);
    border-bottom-color: grey;
    border-left-color: grey;
    border-radius: 10px;
    font-family: "Michroma", sans-serif;
  }

#zero {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

/* CONTENITORE A DESTRA */

#symbols {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 29px;
    flex-direction: column;
    gap: 19px;
    padding-left: 10px;
    padding-top: 10px;
}

.v_symbol {
    padding: 3px 20px;
    border: 2px solid rgba(82, 79, 79, 0);
    border-bottom-color: grey;
    border-left-color: grey;
    border-radius: 10px;
}

/* COLORI TASTI NUMERICI */

.blue {
    background-color: rgb(106, 158, 255);
    color: white;
}

.orange{
    background-color: orange;
    color: white;
}